<p id="notice"><%= notice %></p>

<div class="contact">
  <div id="needschanged">
    <h2><%= @contact.full_name %></h2>
    <p id="contact_title"><%= @contact.title %></p>
    <p id="contact_company"><%= @contact.account.name %></p>
  </div>


    <dl>
          <dt>work</dt>
          <dd><%= @contact.work %></dd>
          <dt>mobile</dt>
          <dd><%= @contact.mobile %></dd>
          <dt>Email</dt>
          <dd><%= @contact.email %></dd>
          <dt>address</dt>
          <dd><%= link_to @contact.account.full_address, 'http://maps.google.com/maps?q='+@contact.account.full_address %></dd>
    </dl>
</div>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
