<p id="notice"><%= notice %></p>

<div class="contact">
  <div id="needschanged">
    <h2><%= @contact.full_name %></h2>
    <p id="contact_title"><%= @contact.title %></p>
    <p id="contact_company">
      <% if !@contact.account.nil? %>
        <%= @contact.account.name %>
      <% end %>
    </p>
  </div>


    <dl>
          <dt>work</dt>
          <dd><%= @contact.work %></dd>
          <dt>mobile</dt>
          <dd><%=  @contact.mobile %></dd>
    </dl>
    <dl id="email">
          <dt>email</dt>
          <dd><%= @contact.email %></dd>
    </dl>
    <% if !@contact.account.nil? %>
      <dl>
            <dt>address</dt>
            <dd>
              <%= link_to @contact.account.full_address, 'http://maps.google.com/maps?q='+@contact.account.full_address %>
            </dd>
      </dl>
    <% end %>
</div>


<%= link_to 'Edit', edit_contact_path(@contact) %>


<% if !@contact.account.nil? %>
  <h2>Account</h2>
  <ul>
    <li><%= link_to @contact.account.name, account_path(@contact.account) %></li>
  </ul>
<% end %>