<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :placeholder =>'Account Name'%>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, :placeholder =>'Address' %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :placeholder =>'City' %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, :placeholder =>'State' %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.telephone_field :zip_code, :placeholder =>'Zip Code' %>
  </div>
  <div class="field">
    <%= f.label :web_site %><br />
    <%= f.url_field :web_site, :placeholder =>'Website' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
